<h2 class="menu-title"><p>Welcome</p></h2>

<div class="main-options">
  <div class="option-menu">
    <%= link_to 'Registrarse', {controller: 'registration', action: 'new'}, :class => 'main-btn btn' %>
  </div>

  <div class="option-menu">
    <%= link_to 'Login', {controller: 'login', action: 'index'}, :class => 'main-btn btn' %>
  </div>

  <div class="option-menu">
    <%= link_to 'Consultar cotizacion del euro', {controller: 'rate', action: 'show'}, :class => 'main-btn btn' %>
  </div>

</div>