<h2 class="menu-title"><p>Bienvenido: </p><%= @user.name %></h2>

<div class="main-options">
  <div class="option-menu"><'Ver comentarios'></div>
</div>

<div class="option-menu">
  <%= link_to 'Log out', {controller: 'login', action: 'destroy'}, :class => 'main-btn btn' %>
</div>