// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn.main-btn {
  margin-bottom: 15px;
  width: 100%;
  background-color: black;
  font-weight: bold;
  border-color: black;
  color: #fff;

  &:hover {
    color: yellow;
  }
}