<div class="main-options">
  <div class="option-menu"><%= link_to 'Ver comentarios', :class => 'main-btn btn' %></div>

  <h3>Escaneá este código y dejanos tu feedback:</h3>
  <div class="thumbnail">
    <img src="https://api.qrserver.com/v1/create-qr-code/?data=" alt="Código QR" title=""/>
  </div>
</div>
